@font-face {
    font-family: 'Calibre';
    src: url('./test-calibre-regular.woff2') format('woff2'),
         url('./TestCalibre-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

html, body{
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font-family: "Inter";
}

header{
    margin-bottom: 20px;
}

header .top_bar{
    width: 100%;
    height: 35px;
    background-color: #E0C26B;
}

header .top_bar h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    color: #000000;
}

header .logo{
    position: absolute;
    top: 0;
    left: 11.8%;
}

header .rectangle{
    background-color: #000000;
    height: 60px;
    width: 100%;
}

header .menu_mobile{
    display: none;
}

header .menu{
    min-width: 665.09px;
    width: auto;
    height: 22px;
}

header ul.menu{
    list-style: none;
    margin: 0;
    width: 50%;
    height: 100%;
    margin-left: 40%;
    padding: 0;
    display: flex;
    align-items: center;
}

header .menu li.item{
    align-items: center;
    color: #FFFFFF;
    display: flex;
    margin-left: 40px;
}

header .menu .item img{
    width: 11px;
    height: 6px;
    margin-left: 10px;
}


header .menu .item a{
    text-decoration: none;
}

header .menu .item h2{
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
}

.allchallenges .spacing:nth-child(0){
    display: block;

}

.allchallenges h1::before{
    display: block;
    content: "";
    height: 10px;
}

.allchallenges h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 49.5px;
    text-align: center;
    margin: 0;
}

.allchallenges h1::after{
    display: block;
    content: "";
    height: 20px;
}

.input{
    position: relative;
    left: 71%;
    display: flex;
    align-items: center;
    width: fit-content;
}

.input p{
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    text-align: left;
    margin-right: 10px;

}

.input select{
    display: flex;
    min-height: 41px;
    height: auto; 
    border: 1.3px solid #BDBDBD;
    border-radius: 5px;
    padding: 8px 30px 8px 10px;
    gap: 10px;
}

.spacing{
    display: block;
    height: 20px;
}


.popup-container {
    position: fixed;
    top: 100px;
    right: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}
.popup {
    background-color: #D7BE69;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 4.5s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(-90px);
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(350px);
    }
}

.cards{
    width: 84%;
    margin-left: 11%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    margin-bottom: 30px;
}

.cards .card{
    border: 1px solid #D4D4D4;
    min-width: 180px;
    max-width: 18%;
    height: 340px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
}

.cards .card .new{
    position: absolute;
    z-index: 12;
    left: 7px;
}

.cards .card .new p{
    position: absolute;
    top: -7px;
    font-family: "Calibre";
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    
}

.cards .card .image{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cards .card img.background{
    height: auto;
    width: 345px;
}

.cards .card .image .gradientBackground{
    position: absolute;
    bottom: 0px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 38px;
}

.cards .card .image .bggradient{
    position: absolute;
    bottom: 0px;
    background: #00000026;
    width: 100%;
    height: 100%;
}

.cards .card .medal{
    top: -55px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.cards .card .medal img{
    position: absolute;
    width: 105%;
    top: -2.5px;
    z-index: 10;
}

.cards .card .gradient{
    z-index: 9;
    position: absolute;
    width: 85%;
    height: 48%;
    top: -10.5px;
    left: 7.5%;
    background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0.416667) 41.67%, rgba(0, 0, 0, 0) 100%);
}

.cards .card .content{
    position: relative;
    top: 50px;
    min-height: 165.5px;
    height: auto;
}

.cards .card .name{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
}

.cards .card .details{
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    text-align: center;
    color: #323232;
}

.cards .card .postcards{
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #323232;
    margin-top: 30px;
}

.cards .card .streetview{
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #323232;
}

.cards .card button{
    width: 174px;
    height: 44px;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}

.cards .card button p{
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;
    margin: 0;
}

.cards .card .btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

footer .newsletter{
    height: 87px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .newsletter p{
    color: #FFFFFF;
}

footer input{
    margin-left: 10px;
    border: 1px solid #BDBDBD;
    width: 262px;
    min-height: 42px;
    height: auto;
    top: 24px;
    left: 735px;
    gap: 10px;
    border-radius: 5px;
}

footer input::placeholder{
    color: #000000;
    font-family: 'Calibre', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
}

footer .newsletter button{
    background-color: #D7BE69;
    width: 125px;
    height: 42px;
    padding: 10px 36.14px 10px 36.14px;
    border-radius: 7.23px;
    border: none;
    margin-left: 10px;
    font-weight: 700;
    font-size: 13.01px;
}

footer .info{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer .info .column svg{
    padding-top: 30px;
}

.info h2{
    color: #D7BE69;
    font-size: 18px;
    font-weight: 700;
}

.info p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.info .socialMedia{
    width: 115px;
    height: auto;
}

.info .columns{
    display: flex;
    flex-direction: column;
}

.info .columns .col{
    margin-bottom: 10px;
}

.info .columns .col h2{
    color: #D7BE69;
}

.info .columns .col img{
    display: inline-block;
    width: 121px;
    height: auto;
}

footer .line{
    background: #9DA1AC33;
    display: block;
    width: 90%;
    height: 1px;
    margin-left: 5%;
}

footer .copy{
    width: 65%;
    margin-left: 17.5%;
}

footer .copy .copyright{
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #FFFFFF;
}

footer .copy .copText{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    color: #616161;
}

@media (max-width: 1025px){
    header .logo{
        position: absolute;
        z-index: 14;
    }

    header .logo svg{
        height: 120px;
    }

    header .rectangle{
        position: relative;
    }

    header .menu_mobile{
        display: flex;
        position: absolute;
        right: 70px;
        top: 25%;
        height: 50%;
        align-items: center;
    }

    header .menu_mobile p{
        color: #FFFFFF;
        font-weight: bold;
        margin-right: 10px;
        font-size: 18px;
    }

    .menu_mobile .bars span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #FFFFFF;
        transition: all 0.3s ease;
    }

    .menu_mobile.close .bars span:nth-child(1) {
        margin-top: -9px;
    }
    .menu_mobile.close .bars span:nth-child(2) {
        margin-top: 0px;
    }
    .menu_mobile.close .bars span:nth-child(3) {
        margin-top: 9px;
    }

    .menu_mobile.open .bars span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }
    .menu_mobile.open .bars span:nth-child(2) {
        opacity: 0;
    }
    .menu_mobile.open .bars span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }
    
    header ul.menu{
        transition: all 0.3s ease;
        background-color: #000000;
        width: 100%;
        height: 0;
        margin: 0;
        min-width: 100%;
        display: block;
        position: absolute;
        z-index: 13;
        margin-top: 60px;
        display: none;
    }
    
    header ul.menu.open{
        display: block;
        height: fit-content;
    }

    header .menu li.item{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 0;
    }

    header .menu .item h2{
        margin: 3px;
    }
}

@media (max-width: 600px){

    header .logo{
        position: absolute;
        z-index: 14;
        top: 35px;
    }

    header .logo svg{
        height: 90px;
    }

    header .rectangle{
        position: relative;
    }

    header .menu_mobile{
        display: flex;
        position: absolute;
        right: 70px;
        top: 25%;
        height: 50%;
        align-items: center;
    }

    header .menu_mobile p{
        color: #FFFFFF;
        font-weight: bold;
        margin-right: 10px;
        font-size: 18px;
    }

    .menu_mobile .bars span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #FFFFFF;
        transition: all 0.3s ease;
    }

    .menu_mobile.close .bars span:nth-child(1) {
        margin-top: -9px;
    }
    .menu_mobile.close .bars span:nth-child(2) {
        margin-top: 0px;
    }
    .menu_mobile.close .bars span:nth-child(3) {
        margin-top: 9px;
    }

    .menu_mobile.open .bars span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
    }
    .menu_mobile.open .bars span:nth-child(2) {
        opacity: 0;
    }
    .menu_mobile.open .bars span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
    }
    
    header ul.menu{
        transition: all 0.3s ease;
        background-color: #000000;
        width: 100%;
        height: 0;
        margin: 0;
        min-width: 100%;
        display: block;
        position: absolute;
        z-index: 13;
        margin-top: 60px;
        display: none;
    }
    
    header ul.menu.open{
        display: block;
        height: fit-content;
    }

    header .menu li.item{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 0;
    }

    header .menu .item h2{
        margin: 3px;
    }

    .input{
        left: 40%;
        justify-content: center;
    }

    .cards{
        width: 90%;
        gap: 2px;
        margin-left: 5%;
    }

    .cards .card{
        margin-bottom: 40px;
    }

    .cards .card .medal img{
        width: 115%;
    }

    footer .newsletter{
        flex-wrap: wrap;
        height: fit-content;
        padding-bottom: 15px;
    }

    footer .info{
        flex-wrap: wrap;
    }

    footer .column{
        text-align: center;
    }

    .info .columns{
        align-items: center;
    }

    .info .columns .col{
        width: 60%;
    }
}

/* CART */

.cart{
    width: 90%;
    margin: 5%;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.cart .logo{
    display: flex;
    justify-content: center;
    width: 30%;
}

.cart .products{
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cart .products .product{
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.cart .products .product img{
    width: 15%;
}

.cart .products .product .title{
    color: #D7BE69;
    width: 30%;
    text-align: center;
}

.cart .products .product .distance{
    color: #000000;
    width: 30%;
    text-align: center;
    font-weight: 500;
}

.cart .products .product .price{
    color: #000000;
    width: 30%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.cart .products .product .delete{
    width: 10%;
}

.cart .deline{
    width: 90%;
    height: 3px;
    border-radius: 50%;
    background-color: #000000;
    display: block;
    margin-left: 5%;
    margin-top: 20px;
}

.cart .products .summary{
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.cart .products .summary .emptyspace{
    width: 45%;
    display: block;
}

.cart .products .summary .totaldistance{
    width: 30%;
    font-weight: 500;
}

.cart .products .summary .totalprice{
    width: 30%;
    font-weight: 500;
    font-size: 20px;
}

@media (max-width: 1025px){
    .cart .logo{
    display: none;
    }

    .cart .products{
        width: 100%;
    }

    .cart .products .product .title{
        width: 30%;
        font-size: 18px;
    }
}
@media (max-width: 600px){
    .cart .logo{
        display: none;
    }

    .cart .products{
        width: 100%;
    }

    .cart .products .product{
        gap: 2px;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
    }

    .cart .products .product img{
        width: 30%;
    }

    .cart .products .product .title{
        width: 50%;
        font-size: 25px;
    }

    .cart .products .product .distance{
        width: 30%;
        font-size: 13px;
    }
}